<a href="https://colab.research.google.com/github/todtec/DPDM65/blob/main/DATA101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA101 by P Ton**

In [1]:
import pandas #import tabular manangement package

In [2]:
import pandas as pd #load pandas as "pd"

File.CSV (Comma Separated Values)

In [3]:
data_df = pd.read_csv('./sample_data/california_housing_test.csv')

In [4]:
data_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [5]:
data_df2 = pd.read_csv('./sample_data/mnist_test.csv')
data_df2

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# **Variable**

In [18]:
variable_a = 10
variable_b = 3.14
variable_c = 'Test' # ' (quote) or " (double quote)
variable_d = 'Standard'
variable_e = '7'

In [9]:
variable_z = variable_a
print(variable_z)

10

In [11]:
variable_y = variable_a+5
variable_y

15

In [17]:
print(variable_a+variable_b)
print(variable_d+variable_c)

13.14
StandardTest

**Casting int() float() str()**

In [21]:
print(variable_a+int(variable_e))

17

**DATA  Structure**

In [26]:
list_a = [1,2,3,0.9,'aaz',variable_d] # List creation

In [27]:
list_a

[1, 2, 3, 0.9, 'aaz', 'Standard']

**Indexing**

In [28]:
list_a[5] # Positive index

'Standard'

In [29]:
list_a[0]

1

In [31]:
list_a[-1] # Negative index

'Standard'

In [33]:
list_a[-3]

0.9

In [36]:
list_b = ['pizza', list_a] # List a in list b
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 'Standard']]

In [35]:
list_b[1][3]

0.9

We can do something on list and also on string data

In [38]:
x = 'shabu'
x[3]

'b'

In [39]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 'Standard']
['pizza', [1, 2, 3, 0.9, 'aaz', 'Standard']]

In [40]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 'Standard', 'pizza', [1, 2, 3, 0.9, 'aaz', 'Standard']]

Create List
1. Build empty list
2. Add member on list

In [41]:
list_aa = [] # Create empty list 1st way
list_aa

[]

In [42]:
list_bb = list() # Create empty list 2nd way
list_bb

[]

Add member to list by .append()

In [43]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [44]:
list_aa

['chiken', 'water', 'vegetable']

In [45]:
list_aa[-1]

'vegetable'

In [46]:
list_aa[2]

'vegetable'

In [47]:
list_aa.append('plate')

In [48]:
list_aa[-2]

'vegetable'