<a href="https://colab.research.google.com/github/todtec/DPDM65/blob/main/DATA101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA101 by P Ton**

In [1]:
import pandas #import tabular manangement package

In [2]:
import pandas as pd #load pandas as "pd"

File.CSV (Comma Separated Values)

In [3]:
data_df = pd.read_csv('./sample_data/california_housing_test.csv')

In [4]:
data_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [5]:
data_df2 = pd.read_csv('./sample_data/mnist_test.csv')
data_df2

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# **Variable**

In [6]:
variable_a = 10
variable_b = 3.14
variable_c = 'Test' # ' (quote) or " (double quote)
variable_d = 'Standard'
variable_e = '7'

In [7]:
variable_z = variable_a
print(variable_z)

10

In [8]:
variable_y = variable_a+5
variable_y

15

In [9]:
print(variable_a+variable_b)
print(variable_d+variable_c)

13.14
StandardTest

**Casting int() float() str()**

In [10]:
print(variable_a+int(variable_e))

17

# **DATA  Structure**

# List

In [11]:
list_a = [1,2,3,0.9,'aaz',variable_d] # List creation

In [12]:
list_a

[1, 2, 3, 0.9, 'aaz', 'Standard']

# Indexing

In [13]:
list_a[5] # Positive index

'Standard'

In [14]:
list_a[0]

1

In [15]:
list_a[-1] # Negative index

'Standard'

In [16]:
list_a[-3]

0.9

In [17]:
list_b = ['pizza', list_a] # List a in list b
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 'Standard']]

In [18]:
list_b[1][3]

0.9

We can do something on list and also on string

In [19]:
x = 'shabu'
x[3]

'b'

In [20]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 'Standard']
['pizza', [1, 2, 3, 0.9, 'aaz', 'Standard']]

In [21]:
list_b[0]

'pizza'

In [22]:
list_b[1]

[1, 2, 3, 0.9, 'aaz', 'Standard']

In [23]:
list_b[1][4]

'aaz'

In [24]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 'Standard', 'pizza', [1, 2, 3, 0.9, 'aaz', 'Standard']]

Create List
1. Build empty list
2. Add member to list

In [25]:
list_aa = [] # Create empty list 1st way
list_aa

[]

In [26]:
list_bb = list() # Create empty list 2nd way
list_bb

[]

Add member to list by .append()

In [27]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [28]:
list_aa

['chiken', 'water', 'vegetable']

In [29]:
list_aa[-1]

'vegetable'

In [30]:
list_aa[2]

'vegetable'

In [31]:
list_aa.append('plate')

In [32]:
list_aa[-2]

'vegetable'

In [33]:
list_aa[-2][1]

'e'

List slicing

In [34]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [35]:
list_aa[1:3] #list slicing from position 1 to position before 3

['water', 'vegetable']

**Quiz 1** Slice these text from list_aa

1.'iken'

2.'get'

3.'tab'

In [36]:
list_aa[0][2:6]

'iken'

In [37]:
list_aa[2][2:5]

'get'

In [38]:
list_aa[2][4:7]

'tab'

In [39]:
list_aa[-1][1:]

'late'

In [40]:
list_aa[1][:3]

'wat'

# Advance list spilcing

In [41]:
list_aa[2]

'vegetable'

In [44]:
list_aa[2][::]

'vegetable'

In [45]:
list_aa[2][::2] #2-steps

'vgtbe'

In [46]:
list_aa[2][::-2] # -2-steps

'ebtgv'

Format string
We can at variable in too string by using format string
```python
f'string{variable}'
```

In [47]:
f'I like to eat {list_aa[2]}' # Curly Brackets

'I like to eat vegetable'

In [48]:
f'9*10 = {9*10}'

'9*10 = 90'

## Loop
Using computer to repeate same task or similar task.

```python
for variable in List:
  do some thing
  do another thing

This is outsite the loop
```

Do the similar thing

In [51]:
for i in list_aa:
  print(f'Now i is {i}')
  print(f'I eat {i}')

Now i is chiken
I eat chiken
Now i is water
I eat water
Now i is vegetable
I eat vegetable
Now i is plate
I eat plate

Do the same thing

In [52]:
for i in list_aa:
  print('Ha')

Ha
Ha
Ha
Ha

In [54]:
for x in [1,3,5,7,9]:
  print(f'This x = {x} x/2 = {x/2}')

This x = 1 x/2 = 0.5
This x = 3 x/2 = 1.5
This x = 5 x/2 = 2.5
This x = 7 x/2 = 3.5
This x = 9 x/2 = 4.5

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
range(10)

range(0, 10)

In [61]:
for i in range(100):
  print(f'Ha{i}', end='') # end = '' :mean no enter after run loop if no end =''  it will run the loop and enter.

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99