<a href="https://colab.research.google.com/github/todtec/DPDM65/blob/main/DATA101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas #import tabular manangement package

In [ ]:
import pandas as pd #load pandas as "pd"

File.CSV (Comma Separated Values)

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1